NEXT_PUBLIC_API_MODE=mock
NEXT_PUBLIC_AUTH_PATIENT_API_URL=http://localhost:8081/api/auth
NEXT_PUBLIC_AUTH_PROVIDER_API_URL=http://localhost:8082/api/auth
NEXT_PUBLIC_PATIENT_API_URL=http://localhost:8081/api/patient
NEXT_PUBLIC_PROVIDER_AUTH_API_URL=http://localhost:8082/api/auth
NEXT_PUBLIC_REQUESTS_API_URL=http://localhost:8080/api/requests
NEXT_PUBLIC_CORE_API_URL=http://localhost:8080/api
NEXT_PUBLIC_NOTIFICATIONS_API_URL=http://localhost:8081/api/notifications
NEXT_PUBLIC_PROVIDER_PATIENTS_API_URL=http://localhost:8080/api/providers/patients
